<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>酒店管理系统</display-name>
    <!-- 全局的初始化参数 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <!-- 配置service, datasource, SqlSessionFactory,mybatis dao, 事务管理器，aop事务 -->
        <param-value>classpath:/spring/spring-context.xml</param-value>
    </context-param>

    <listener>
        <!-- 加载applicationContext.xml配置文件(mybatis etc…) -->
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- 防止Spring内存溢出 -->
    <listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
    </listener>

    <!-- springmvc 核心控制器，将springMVC整合到项目里-->
    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <!-- 配置spring mvc的组件：扫描controller, view resovle -->
            <param-value>classpath:/spring/spring-web.xml</param-value>
        </init-param>
        <!-- 服务器启动时加载顺序 -->
        <load-on-startup>1</load-on-startup>
        <!-- 异步请求处理支持 -->
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:/log4j.properties</param-value>
    </context-param>

</web-app>