<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.glut.jiudian.dao.UserMapper">
  <resultMap id="BaseResultMap" type="cn.edu.glut.jiudian.entity.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="QQ" jdbcType="VARCHAR" property="qq" />
    <result column="photo_url" jdbcType="VARCHAR" property="photoUrl" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByName" parameterType="java.lang.String">
    delete from t_user
    where user_name = #{userName,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="cn.edu.glut.jiudian.entity.User">
    insert into t_user (user_id, user_name, user_pwd, 
      address, phone, email, 
      QQ, photo_url)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{photoUrl,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.edu.glut.jiudian.entity.User">
    update t_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_pwd = #{userPwd,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      QQ = #{qq,jdbcType=VARCHAR},
      photo_url = #{photoUrl,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select user_id, user_name, user_pwd, address, phone, email, QQ, photo_url
    from t_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select user_id, user_name, user_pwd, address, phone, email, QQ, photo_url
    from t_user
  </select>

    <select id="selectUser" resultType="cn.edu.glut.jiudian.entity.User">
      select user_id, user_name, user_pwd, address, phone, email, QQ, photo_url
    from t_user
    where user_name = #{userName}
    and user_pwd = #{userPwd}
    </select>

  <select id="selectUserByName" resultType="java.lang.Integer">
      select count(*) from t_user where user_name = #{userName}
    </select>

</mapper>